DB_CLIENT_ID=deutschebahnclientid
DB_API_KEY=deutschebahnapikey

POSTGRES_USER=tmp
POSTGRES_PASSWORD=tmp
POSTGRES_HOST=pg_sql
POSTGRES_DB=tmp

BRIGHTSKY_BASE_URL=https://api.brightsky.dev
DB_TRANSPORT_BASE_URL=https://v6.db.transport.rest
